@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Inter", serif;
	font-optical-sizing: auto;
}

@layer base {
	:root {
		--background: 30 8% 98.5%;
		--foreground: 30 0% 0%;
		--card: 30 0% 100%;
		--card-foreground: 240 6.67% 2.94%;
		--popover: 30 0% 100%;
		--popover-foreground: 240 10% 6.2%;
		--primary: 240 5.88% 10%;
		--primary-foreground: 30 0% 100%;
		--secondary: 240 4.76% 95.88%;
		--secondary-foreground: 240 5.88% 10%;
		--muted: 26 6% 94%;
		--muted-foreground: 24 2.79% 35.1%;
		--accent: 20 23.08% 94%;
		--accent-foreground: 240 5.88% 10%;
		--destructive: 0 66% 53%;
		--destructive-foreground: 0 0% 98.04%;
		--border: 30 8.11% 85.49%;
		--input: 30 4.29% 72.55%;
		--ring: 30 3.97% 49.41%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--background: 220 5.5% 9%;
		--foreground: 220 2% 97%;
		--card: 220 5.5% 10.5%;
		--card-foreground: 220 2% 97%;
		--popover: 220 5.5% 9%;
		--popover-foreground: 220 2% 97%;
		--primary: 220 2% 96%;
		--primary-foreground: 220 4% 10%;
		--secondary: 220 4% 16%;
		--secondary-foreground: 220 0% 98%;
		--muted: 220 6% 16%;
		--muted-foreground: 220 4% 67%;
		--accent: 220 5% 15.5%;
		--accent-foreground: 220 2% 98%;
		--destructive: 0 62% 46%;
		--destructive-foreground: 0 0% 97%;
		--border: 220 3% 16%;
		--input: 220 4% 22%;
		--ring: 220 4% 80%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
